<h2>Harvest report index</h2>

<h3>Detailed Time Report</h3>

<div class="row">
  <div class="large-4 small-12 columns">
  <%= form_tag('/', method: :get) do |f| %>
    <%= label_tag :group_by %>
    <%= select_tag(:group_by, options_for_select([ 'Staff', 'Task', 'Organization', 'Date' ], params[:group_by]), onchange: "this.form.submit()") %>
  <% end %>
  </div>
</div>

<table class="hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Organization</th>
      <th>Project</th>
      <th>Task</th>
      <th>Person</th>
      <th>Hours</th>
    </tr>
  </thead>

  <% @groups.each do |grouped_value, group| %>
  <tbody>
    <tr style="background-color: #1EB4D2;">
      <td colspan="5"><%= grouped_value %></td>
      <td class="dt-hours"><%= number_with_precision(group.sum(&:hours), precision: 2) %></td>
    </tr>

    <% group.each do |entry|  %>
    <tr>
      <td><small><%= entry.spent_at %></small></td>
      <td><small><%= entry.user.try(:organization).try(:name) %></small></td>
      <td><small><%= entry.project.try(:name) %></small></td>
      <td><small><%= entry.task.try(:name) %></small></td>
      <td><small><%= entry.user.try(:full_name) %></small></td>
      <td><small><%= entry.hours %></small></td>
    </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
