<h2>Harvest report index</h2>

<h3>Detailed Time Report</h3>

<form action="" method="get">
  <%= label_tag :group_by %>
  <%= select_tag(:group_by, options_for_select([ 'Staff', 'Task', 'Organization', 'Date' ], params[:group_by]), onchange: "this.form.submit()") %>
</form>

<table width="100%">
  <thead >
    <tr>
      <th>Date</th>
      <th>Organization</th>
      <th>Project</th>
      <th>Task</th>
      <th>Person</th>
      <th>Hours</th>
    </tr>
  </thead>

  <% @groups.each do |grouped_value, group| %>
    <tr style="background-color: #d2e6f3;">
      <td colspan="5"><%= grouped_value %></td>
      <td class="dt-hours"><%= number_with_precision(group.sum(&:hours), precision: 2) %></td>
    </tr>

    <% group.each do |entry|  %>
    <tr>
      <td><small><%= entry.spent_at %></small></td>
      <td><small><%= entry.user.organization.name %></small></td>
      <td><small><%= entry.project.name %></small></td>
      <td><small><%= entry.task.name %></small></td>
      <td><small><%= entry.user.full_name %></small></td>
      <td><small><%= entry.hours %></small></td>
    </tr>
    <% end %>
  <% end %>
</table>
