<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harvester</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-title">Harvester</div>
      <div>
        <div class="top-bar-left"></div>
        <div class="top-bar-right">
          <% if admin_signed_in? %>
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#"><%= current_admin.email %></a>
              <ul class="menu vertical">
                <li><%= link_to 'Config' , config_path %></li>
                <li><%= link_to 'Sign out' , destroy_admin_session_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="columns small-12 main-container">
        <%= display_flash_messages %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
